<footer>
  <div class="footer-grid">
    <div class="footer-brand">
      <a class="logo" routerLink="/">
        <img src="assets/logo.png" alt="GoBooking Logo" class="navbar-logo-img">
      </a>
      <p>Your trusted partner for unforgettable travel experiences. Explore the globe with ease and confidence with GoBooking.</p>
      
    </div>

    <div>
      <h5>Destinations</h5>
      <ul>
        <li><a routerLink="/destinations   ">Rajasthan</a></li>
        <li><a routerLink="/destinations">Kerala</a></li>
        <li><a routerLink="/destinations">Goa</a></li>
        <li><a routerLink="/destinations">Himachal Pradesh</a></li>
        <li><a routerLink="/destinations">Uttarakhand</a></li>
      </ul>
    </div>
    

    <div>
      <h5>Quick Links</h5>
      <ul>
        <li><a routerLink="/booking">Book a Tour</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/">About Us</a></li>
        <li><a routerLink="/">Travel Blog</a></li>
        <li><a routerLink="/">Visa Assistance</a></li>
      </ul>
    </div>

    <div>
      <h5>Support</h5>
      <ul>
        <li><a routerLink="/">FAQs</a></li>
        <li><a routerLink="/">Cancellation Policy</a></li>
        <li><a routerLink="/">Travel Insurance</a></li>
        <li><a routerLink="/">Privacy Policy</a></li>
        <li><a routerLink="/">Terms &amp; Conditions</a></li>
      </ul>
    </div>
  </div>


  <div class="footer-bottom">
    <p>© {{ year }} GoBooking TravelTech Pvt. Ltd. All rights reserved. </p>
    <p>Made with ❤️ for every Indian explorer</p>
  </div>
</footer>
